<div class="tgm-strip">
	<div class="container">
		<a href="http:///www.theglobalmail.org" class="tgm">The Global Mail - Back to homepage</a>
		<div class="icons">
            <a class="about" href="#" data-target="#about-tool-modal" data-toggle="modal">About</a>
            <a class="share popover-link carousel-sticky-popover-link" href="javascript:void(0)"><span class="text">share</span></a>
        </div>
	</div>
</div>
<div class="navbar-inner">
    <div class="container row-fluid">
        <span class="beta">Beta 1.0</span>
        <a href="/" class="brand span3">Poli/talk</a>
        <div class="nav-collapse collapse">
            <ul class="nav"></ul>
        </div>
    </div>
</div>