<div class="tgm-strip">
	<div class="container">
		<a href="http:///www.theglobalmail.org" class="tgm" title="Go to The Global Mail">The Global Mail</a>
		<div class="icons">
      <a class="about" href="#" data-target="#about-tool-modal" data-toggle="modal">About</a>
    </div>
	</div>
</div>
<div class="navbar-inner">
    <div class="container row-fluid">
        <a href="/" class="brand span3">Poli/talk</a>
        <div class="nav-collapse collapse">
            <ul class="nav"></ul>
        </div>
    </div>
</div>
