@peopleColor: #ff835e;
@filterColor: #444444;

.hero-unit.people {
    background: @peopleColor url(/modules/members/img/hero-people-bg.png) 0 0 repeat;
    color: white;
    text-shadow: 0 -1px 0 #c55d32;

    h2 {
        color: @peopleColor;
    }
}

.members-table {
    counter-reset: row-number;
    @numberWidth: 30px;
    @numberPadding: 10px;

    th, .cell {
        padding: 10px .75%;
        vertical-align: middle;
        text-shadow: 0 1px 0 white;
    }

    th:first-child {
        padding-left: @numberWidth + @numberPadding;
    }
    th.sorted {
            color: #333;
            &:after {
                margin-right: 4px;
            }
        }

    td {

        .cell;
        font-size: 100%;
        padding: 15px .75%;
        position: relative;

        &:first-child {
            padding-left: @numberWidth + @numberPadding;

            &:before {
                content: counter(row-number);
                counter-increment: row-number;
                display: block;
                position: absolute;
                z-index: -2;
                left: 0;
                top: 19px;
                width: @numberWidth;
                text-align: right;
                font-size: 80%;
            }
        }

        &.speaker {
            font-size: 140%;
            font-weight: bold;
            line-height: 1.2;

            span {
                display: block;
                font-size: 12px;
                line-height: 1.3;
                color: @grayLight;
                font-weight: normal;
            }
        }

        &.duration, &.speeches, &.interjections {
            font-size: 200%;
            font-style: italic;
            color: @grayLight;
        }

        &.duration {
            font-weight: bold;
        }
    }
}

aside {
    padding-top: 5px;

    h3 {
        font-size: 11px;
        line-height: 90%;
        text-transform: uppercase;
        color: @filterColor;
        padding-bottom: 6px;
    }
}

.members-filters .filter-group {
    border: 1px solid @tableBorder;
    margin-bottom: 20px;
    padding: 0;
    .border-radius(5px);
    color: @filterColor;
    text-shadow: 0 1px 0 white;

    h4 {
        font-size: 80%;
        text-transform: uppercase;
        padding: 0 15px;
        line-height: 1.0;
        font-weight: normal;
    }

    label {
        display: block;
        position: relative;
        padding: 12px 35px 12px 15px;
        text-transform: uppercase;
        font-size: 95%;
        font-weight: bold;
        line-height: 1;
        margin: 0;
        border-top: 1px solid @tableBorder;

        &:first-of-type {
            border-top: none;
        }

        &:hover, &:active {
            background-color: #f3f3f3;
            .transition(background-color 100ms ease-in-out);
        }
    }

    input {
        position: absolute;
        right: 15px;
        top: 30%;
        clear: both;
        margin: 0 0 0 10px;
    }
}

// Large tablet
@media only screen and (max-width: 1050px) {
    .members-filters .filter-group {
        label {
        font-size: 12px;
        }
    }
}

// Mid tablet
@media only screen and (max-width: 950px) {
    .members-table td.duration,
    .members-table td.speeches,
    .members-table td.interjections {
        font-size: 160%;
    }

}

// Small tablet
@media only screen and (max-width: 750px) {
    .hero-unit.people {
        padding-left: 20px;
        margin-bottom: 0;
    }
    .row-fluid aside.span3 {
        display: none;
    }
    .row-fluid .span9.members-list {
        width: 100%;
        margin-left: 0;
    }

}

// Phones
@media only screen and (max-width: 550px) {

    .members-table {
        td, th {
            &.duration {
                min-width: 80px;
            }
            &.speeches, &.interjections {
            display: none;
            }

        }
        }
    }

