<table class="table table-sortable keywords-table table-hover">
    <thead>
        <tr>
            <th class="text" data-sortable="text">Phrase</th>
            <th class="frequency" data-sortable="frequency">Mentions</th>
        </tr>
    </thead>
    <tbody>
        <tr class="loading">
            <td colspan="2">Loading...</td>
        </tr>
    </tbody>
</table>