<td class="text"><a class="partylines" target="_BLANK" href="{{url}}">{{text}}</a> <a data-bypass target="_BLANK" class="openaustralia-link" href="{{OAurl}}">OpenAustralia</a></td>
<td class="frequency">{{frequency}}</td>
