<div class="politalk-sidebar">
	Linking politicians to their lines, using federal Hansard transcripts.
	<a href="#">
		See how TGM is using PoliTalk &rarr;
	</a>
</div>
<div class="member-info-container"></div>
<div class="period-container"></div>
<div class="filters-container"></div>