@import "../../../components/tgm-bootstrap/less/tgm-bootstrap.less";
@import "../../../components/bootstrap-datepicker/less/datepicker.less";

@peopleColor: #ff835e;
@wordsColor: #1072b6;
@filterColor: #444444;
@heroUnitHeight: 180px;

* {
    position: relative;
    .box-sizing(border-box);
}

html, body {
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: geometricPrecision;
}

#main {
    margin-top: 140px;
}

.datepicker {
    position: fixed;
}

.container, .navbar .container {
    width: 80%;
    min-width: 910px;
    max-width: 1350px;
}

.module-layout {

}

.hero-unit {
    .border-radius(0);
    padding: 40px 0 25px;
    z-index: 2;

    h1 {
        font-size: 480%;
        letter-spacing: -0.05em;
    }

    h2 {
        font-size: 100%;
        line-height: 1;
        text-transform: uppercase;
    }
}

.main-table table {
    counter-reset: row-number;
    @numberWidth: 30px;
    @numberPadding: 8px;

    th, .cell {
        padding: 10px .75%;
        vertical-align: middle;
        text-shadow: 0 1px 0 white;
    }

    th:first-child {
        padding-left: @numberWidth + @numberPadding;
    }

    th.sorted {
        color: #333;

        &:after {
            position: relative;
            float: none;
            margin-right: 0;
            margin-top: 0;
            top:-1px;
            left:4px;
            display: inline-block;
        }

        &.reversed:after {
            top: 3px;
        }
    }

    td {
        .cell;
        font-size: 100%;
        padding: 15px .75%;

        &:first-child {
            padding-left: @numberWidth + @numberPadding;

            &:before {
                content: counter(row-number);
                counter-increment: row-number;
                display: block;
                position: absolute;
                z-index: -2;
                left: 0;
                top: 36%;
                width: @numberWidth;
                text-align: right;
                font-size: 80%;
                font-weight: normal;
            }
        }
    }
}

aside {
    padding-top: 30px;

    h3 {
        font-size: 11px;
        line-height: 90%;
        text-transform: uppercase;
        color: @filterColor;
        padding: 0;
        margin: 0 0 10px;
    }

    .period-container {
        margin-bottom: 21px;

        label {
            display: inline-block;

            .add-on {
                width: auto;

                &:first-child {
                    font-size: 11px;
                    text-transform: uppercase;
                    padding: 4px 6px;
                    height: 28px;
                }
            }

            input {
                width: 80px;
                padding: 13px 6px;
            }
        }
    }
}

@import "../../nav/styles/navbar.less";
@import "../../members/styles/members.less";
@import "../../keywords/styles/keywords.less";

// Large tablet
@media only screen and (max-width: 1050px) {
    body {
        font-size: 90%;
    }

    #main {
        margin-top: 128px;
    }

    .container, .navbar .container {
        width: 95%;
        min-width: 746px;
    }

    .hero-unit {
        h1 {
            font-size: 420%;
            letter-spacing: -3px;
        }
    }
}

// Smaller tablet
@media only screen and (max-width: 950px) {
    body {
        font-size: 75%;
    }

    .hero-unit {
        padding: 20px 0 15px;
    }
}

// Phones
@media only screen and (max-width: 750px) {
    .container, .navbar .container {
        width: 100%;
        min-width: 300px;
    }

    #main {
        margin-top: 100px;
    }

    .hero-unit {
        h1 {
            font-size: 280%;
        }

        h2 {
            font-size: 80%;
        }
    }

}




