@import "../../../components/tgm-bootstrap/less/tgm-bootstrap.less";
@import "../../../components/bootstrap-datepicker/less/datepicker.less";

@peopleColor: #ff835e;
@wordsColor: #1072b6;
@filterColor: #444444;
@heroUnitHeight: 180px;
@sansFontFamily: "open-sans", "Open Sans", Helvetica, Arial, sans-serif;

* {
    position: relative;
    .box-sizing(border-box);
}

html, body {
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: geometricPrecision;
}

select {
    height: auto;
    font-size: 1em; 
}

.brand .divider {
    font-weight: 400;
    padding: 0 2px;
    color: @grayLight;
}

.navbar .tgm-strip .icons .about {
    padding: 4px 10px 4px 10px !important;
}

.navbar-fixed-top { 
    border-bottom: 1px solid @grayLighter;
    border-bottom: 1px solid rgba(100,100,100,0.1);
}

#main {
    padding-top: 140px;
}

@-webkit-keyframes fade-in-out {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fade-in-out {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fade-in-out {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-in-out {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

#initial-loader{
    padding-top: 260px;
    z-index: 100;
    background-color: #fff;
}

.loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/modules/app/img/white-85pc.png) repeat;
    background-color: rgba(255,255,255,0);
    background-color: transparent;
    z-index: 1000;
    text-align: center;
    padding-top: 60px;
    display: none;
    
    &.loading{ display: block; }

    .loader-text {
        font-family: @sansFontFamily;
        font-weight: bold;
        font-size: 160%;
        text-transform: uppercase;
        font-style: italic;
        span {
            -webkit-animation: fade-in-out 0.5s infinite alternate; /* Safari 4+ */
            -moz-animation:    fade-in-out 0.5s infinite alternate; /* Fx 5+ */
            -o-animation:      fade-in-out 0.5s infinite alternate; /* Opera 12+ */
            animation:         fade-in-out 0.5s infinite alternate; /* IE 10+ */
            &:nth-of-type(2) { 
                -webkit-animation-delay:    0.25s; 
                -moz-animation-delay:       0.25s; 
                -o-animation-delay:         0.25s; 
                animation-delay:            0.25s; 
            }
            &:nth-of-type(3) { 
                -webkit-animation-delay:    0.5s; 
                -moz-animation-delay:       0.5s; 
                -o-animation-delay:         0.5s; 
                animation-delay:            0.5s; 
            }
        }
    }
}

.container, .navbar .container {
    width: 80%;
    min-width: 910px;
    max-width: 1350px;
}

.hero-unit {
    .border-radius(0);
    padding: 40px 0 25px;
    z-index: 2;

    h1 {
        font-size: 480%;
        letter-spacing: -1px;
    }

    h2 {
        font-size: 100%;
        line-height: 1;
        text-transform: uppercase;
    }
}

.main-table table {
    counter-reset: row-number;
    @numberWidth: 30px;
    @numberPadding: 8px;

    th, .cell {
        padding: 10px 20px;
        vertical-align: middle;
        text-shadow: 0 1px 0 white;
    }

    th.sorted {
        color: #333;

        &:after {
            position: relative;
            float: none;
            margin-right: 0;
            margin-top: 0;
            top:-1px;
            left:4px;
            display: inline-block;
        }

        &.reversed:after {
            top: 3px;
        }
    }

    td {
        .cell;
        font-size: 100%;
        padding: 15px 20px;
    }
}

.table-hover tr {
    a { color: @textColor; }
    &:hover {
        a {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
aside {
    padding-top: 30px;

    h3 {
        font-size: 11px;
        line-height: 90%;
        text-transform: uppercase;
        color: @filterColor;
        padding: 0;
        margin: 0 0 10px;
    }
    @addOnWidth: 50px;
    .period-container {
        margin-bottom: 21px;

        label {
            display: inline-block;

            .add-on {
                width: auto;

                &:first-child {
                    font-size: 11px;
                    text-transform: uppercase;
                    padding: 4px 6px;
                    height: 28px;
                    width: 50px;
                }
            }

            input {
                width: 157px;
                box-sizing: border-box;

                padding: 13px 6px;
                margin-right: 10px;
                font-size: 16px; 
            }
        }
    }
}

.politalk-sidebar {
    font-size: 18px;
    font-weight: bold;
    color: @grayDark;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;

    a {
        display: block;
        font-size: 14px;
        font-weight: normal;
        font-style: italic;
        margin: 1em 0;
    } 

}

.footer {
    #gradient.vertical-three-colors(#222,#333,4%,#343539);
    color: #a4a4a5;
    margin-top: 5%;
    padding: 40px 0 80px;
    text-shadow: 0 -1px 1px #111;

    a {
        color: white;
    }

    .about {
        width: 430px;
        float: left;
        font-size: 140%;
        font-style: italic;
        line-height: 1.4;

        a.brand {
            font-weight: 900;
            font-style: italic;
            font-size: 250%;
            letter-spacing: -4px;

            &:hover, &:focus, &:active {
                .opacity(60);
                text-decoration: none;
            }
        }

        a.link {
            margin-top: 5%;
            font-size: 70%;
            font-weight: bold;
            font-style: normal;
        }
    }

    .credit {
        width: 270px;
        margin-top: 10px;
        float: right;
        font-size: 80%;
        border-left: 1px solid #494a4d;
        padding: 0 0 70px 20px;

        a {
            display: block;
            font-size: 200%;
            font-weight: bold;

            &.tgm {
                text-indent: -9000px;
                background: transparent url(/modules/app/img/footer-logo.png) 0 0 no-repeat;
                margin-bottom: 20px;
            }
        }
    }
}

[class^="icon-"],
[class*=" icon-"] {
  background-image: url(/components/tgm-bootstrap/img/glyphicons-halflings.png);
}

/* White icons with optional class, or on hover/active states of certain elements */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: url(/components/tgm-bootstrap/img/glyphicons-halflings-white.png);
}

/* Style modal a little better */

@modalBorderRadius: 6px;
.modal { 
    .border-radius(@modalBorderRadius); 
    width: 750px;
    margin-left: (750px / -2);
}

.modal-header{
  width: 100%;
  padding: 15px 20px 20px 20px;
  .box-shadow(0 1px 10px rgba(0, 0, 0, 0.3));
  background: @grayLighter;
  .border-top-radius(@modalBorderRadius);


  h3{
    margin-right: 20px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -3px;
    padding: 0 0;
    text-shadow: 0 -1px 0 #fff; 
    .desc {
        font-weight: 400;
        color: @grayLight;
        letter-spacing: -1px;
    }
  }
}

.modal-body {
    max-height: 600px;
    line-height: 1.6;
    padding: 20px 20px 5px 20px;
    .border-bottom-radius(@modalBorderRadius);

    .icon {
        opacity: 0.5;
        margin-top: 4px;
    }
}

/* fixup datepickers on IE */
.members-period label, .keywords-period label{
  display: block;
}
.members-period input.date, .keywords-period input.date{
  padding-top: 3px;
  padding-bottom: 2px;
  height: auto;
  height: 28px;
}

@import "../../nav/styles/navbar.less";
@import "../../members/styles/members.less";
@import "../../keywords/styles/keywords.less";
@import "../../wordchoices/styles/wordchoices.less";
@import "responsive.less";
