// Large tablet
@media only screen and (max-width: 1050px) {
    body {
        font-size: 90%;
    }

    #main {
        margin-top: 128px;
    }

    .container, .navbar .container {
        width: 95%;
        min-width: 746px;
    }

    .hero-unit {
        h1 {
            font-size: 420%;
            letter-spacing: -3px;
        }
    }
}

// Smaller tablet
@media only screen and (max-width: 950px) {
    body {
        font-size: 75%;
    }

    .hero-unit {
        padding: 20px 0 15px;
    }
}

// Phones
@media only screen and (max-width: 750px) {
    .container, .navbar .container {
        width: 100%;
        min-width: 300px;
    }

    #main {
        margin-top: 100px;
    }

    .hero-unit {
        h1 {
            font-size: 280%;
        }

        h2 {
            font-size: 80%;
        }
    }

}