.navbar {
    .tgm-strip {
        background-color: #1b1b1b;

        .tgm {
            text-indent: -9000px;
            display: inline-block;
            background: transparent url(/modules/app/img/tgm-strip-logo.png) 0 0 no-repeat;
            width: 390px;
            margin: 8px 0;
        }

        .icons {
          width: 250px;
          top: 8px;
          position: absolute;
          right: 24px;
        }


        .icons .about {
            font-family: "open-sans", "Open Sans", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 11px;
            padding: 6px 10px;
            float: left;
            color: white;
            margin: 0;
            line-height: 1.0;

            &:hover, &:focus, &:active {
                .opacity(60);
                text-decoration: none;
            }
        }

        .icons .about {
            border: 1px solid rgba(255, 255, 255, 0.1);
            margin-right: 4px;
            line-height: 1.0;
        }

        .share-button {
          display: inline-block;
          vertical-align: top;
          // force all buttons to the same height so they're vertically aligned
          height: 23px;
          width: 80px;
          overflow: visible;
          &.facebook {
            // Fixing a bug where the FB like
            // button is ~30px offset to the right
            text-align: left;
            .ie8 &,
            .lt-ie9 &, {
              text-align: center;
            }
          }
        }

    }

    .navbar-inner {
        position: relative;
        .box-shadow(0 1px 10px rgba(0, 0, 0, 0.3));
        min-height: 70px;

        .brand {
            display: inline-block;
            padding: 0;
            margin-top: 56px;
            margin-left: 0;
            font-size: 400%;
            font-style: italic;
            font-weight: 900;
            letter-spacing: -0.1em;
            .subtitle {
                font-size: 14px;
                line-height: 14px;
                font-style: normal;
                color: @grayLight;
                letter-spacing: 0;
                text-transform: uppercase;
                display: inline-block;
                font-weight: bold;
            }
        }

        .beta {
            position: absolute;
            bottom: 1px;
            font-size: 10px;
            color: #999;
            z-index: 99;
        }

        .nav {
            margin-bottom: 0;
            margin-left: 0;

            & > li > a {
                display: table-cell;
                vertical-align: bottom;
                padding-top: 70px;
                width: 250px;
                font-size: 160%;
                text-transform: uppercase;
                color: @grayDark;
                border-left: 1px solid @tableBorder;
                border-right: 1px solid @tableBorder;
                small {
                    display: block;
                    font-size: 14px;
                    color: @grayLight;
                }
            }

            & > li:nth-child(2) > a {
                border-left: none;
            }

            .active a {
                color: @grayDark;
                background-color: transparent;
                .box-shadow(inset 0 -4px 0 @wordsColor);
            }

            .active:nth-child(2) a {
                .box-shadow(inset 0 -4px 0 @peopleColor);
                border-left: none;
            }
        }
    }
}

// Large tablet
@media only screen and (max-width: 1380px) {
    .navbar .navbar-inner {
        .brand {
            font-size: 380%;
            margin-top: 42px;
            .subtitle {
                font-size: 12px;
            }
        }
        .nav > li > a {
            width: 200px;
            padding-top: 54px;
            small {
                font-size: 12px;                
            }
        }
    }
}


// Smaller tablet
@media only screen and (max-width: 950px) {

}

// Small tablet
@media only screen and (max-width: 750px) {
    .navbar {
        .tgm-strip {
            padding: 0 20px;

            .tgm {
                width: 195px;
            }
        }

        .navbar-inner {
            height: 70px;

            .brand {
                margin: 27px 0 0 20px;
                font-size: 280%;
                .subtitle {
                    font-size: 10px;                
                }
            }

            .beta {
                left: 20px;
                top: 47px;
            }

            .nav > li > a {
                width: 160px;
                padding-top: 33px;
            }
        }
    }
}


// Phones
@media only screen and (max-width: 550px) {

    .navbar {
        .tgm-strip {
            text-align: center;

            .icons {
                display: none;
            }
        }

        .navbar-inner {
            .nav {
                display: none;
            }
        }
    }
}
