<div class="hero-unit people">
    <h1 class="container">People</h1>
    <h2 class="container">Look who's talkin'</h2>
</div>

<div class="container people">
	<div class="row-fluid">
	    <aside class="span3">
	    </aside>

	    <div class="span9 members-list">
	    </div>
	</div>
</div>
<div class="footer">
	<div class="container">
	<div class="about">
		<a href="/" class="brand">Poli/talk</a>
		<p>An ongoing analysis of <a href="http://www.openaustralia.org" target="_blank">Hansard transcripts</a> with the aim of making what is said more transparent and (possibly) more entertaining.</p>
		<a href="/" class="link">Methodology</a> | <a href="/" class="link">Send feedback</a>
	</div>
	<div class="credit">
		<p>Designed and developed by <a href="http://www.theglobalmail.org" class="tgm" target="_blank">The Global Mail</a></p>
		<p>Partially based on data from <a href="http://www.openaustralia.org" target="_blank">www.openaustralia.org</a></p>
	</div>
	</div>
</div>