<h3>Display results from</h3>

<div class="houses filter-group">
    <!-- <h4>By House</h4> -->

    {{#each houses}}
    <label>{{name}} <input type="checkbox" name="house" value="{{id}}"></label>
    {{/each}}
</div>

<div class="parties filter-group">
    <!-- <h4>By Party</h4> -->

    {{#each parties}}
    <label>{{this}} <input type="checkbox" name="party" value="{{this}}"></label>
    {{/each}}
    <label>Speakers <input type="checkbox" name="noSpeakers" value="true"></label>
</div>



<!-- <div class="filter-group no-speakers">
    <h4>Speakers</h4>

    <label>Hide Speakers <input type="checkbox" name="noSpeakers" value="true"></label>
</div> -->