<div class="span12">
    <div class="hero-unit">
        <h1>People</h1>
    </div>

    <div class="row">
        <aside class="span3">
        </aside>

        <div class="span9 members-list">
        </div>
    </div>
</div>