<div class="politalk-sidebar">
	Linking politicians to their lines, using federal Hansard transcripts.
	<a href="#">
		More about this tool &rarr;
	</a>
</div>
<div class="period-container"></div>
<div class="filters-container"></div>