<div class="hero-unit people">
    <h1 class="container">People</h1>
</div>

<div class="container people">
	<div class="row-fluid">
	    <aside class="span3">
	    </aside>

	    <div class="span9 members-list">
	    </div>
	</div>
</div>