<h3>Period</h3>
<label class="input-prepend"><span class="add-on">From:</span> <input type="text" name="fromDate" class="date input-small"></label>
<label class="input-prepend"><span class="add-on">To:</span> <input type="text" name="toDate" class="date input-small"></label>