<table class="table table-sortable members-table">
    <thead>
        <tr>
            <th data-sortable="speaker">Name</th>
            <th data-sortable="duration">Duration</th>
            <th class="speeches" data-sortable="speeches">Speeches</th>
            <th class="interjections" data-sortable="interjections">Interjections</th>
        </tr>
    </thead>
    <tbody>
        <tr class="loading">
            <td colspan="4">Loading...</td>
        </tr>
    </tbody>
</table>