<label class="input-prepend">
    <span class="add-on">From:</span>
    <input type="text" name="fromDate" class="date input-small" placeholder="dd/mm/yyyy">
</label>
<label class="input-prepend">
    <span class="add-on">To:</span>
    <input type="text" name="toDate" class="date input-small" placeholder="dd/mm/yyyy">
</label>