<div class="hero-unit people">
    <h1 class="container">People</h1>
    <h2 class="container">Explore Who Says What</h2>
</div>


<div class="container people">
    <div class="loader">
        <h1 class="loader-text">
            Loading<span>.</span><span>.</span><span>.</span>
        </h1>
    </div>
    <div class="row-fluid">
        <aside class="span3"></aside>
        <div class="span9 members-list main-table"></div>
    </div>
</div>
