<h3>Display results from</h3>

<div class="houses filter-group">
    {{#each houses}}
    <label>{{name}} <input type="checkbox" name="house" value="{{id}}" checked></label>
    {{/each}}
</div>

<div class="parties filter-group">
    {{#each parties}}
    <label>{{this}} <input type="checkbox" name="party" value="{{this}}" checked></label>
    {{/each}}
    <label>Speakers <input type="checkbox" name="noSpeakers" value="true"></label>
</div>

<div class="seehow"><a href="" target="_BLANK">See how The Global Mail is using PoliTalk.</a></div>
