<table class="table table-sortable members-table table-hover">
    <thead>
        <tr>
            <th data-sortable="last_name">Name</th>
            <th data-sortable="duration">Estimated Duration</th>
            <th class="speeches" data-sortable="speeches">Speeches</th>
            <th class="interjections" data-sortable="interjections">Interjects</th>
        </tr>
    </thead>
    <tbody>
        <tr class="loading">
            <td colspan="4">Loading...</td>
        </tr>
    </tbody>
</table>
