.hero-unit.keywords {
    background: @wordsColor url(/modules/keywords/img/hero-words-bg.png) 0 0 repeat;
    color: white;
    text-shadow: 0 -1px 0 #0b4a76;

    h2 {
        color: white;
        color: rgba(255,255,255,0.8);
        font-weight: 300;

        strong{
          color: white;
        }
    }
}

.keywords-table {
    counter-reset: row-number;
    @numberWidth: 30px;
    @numberPadding: 8px;

    th:first-child {
        padding-left: @numberWidth + @numberPadding;
    }

    td {
        &:first-child {
            padding-left: @numberWidth + @numberPadding;
        }

        &.text {
            font-size: 140%;
            font-weight: bold;
            line-height: 1.1;
            padding-right: 20px;
            padding-top: 0;
            padding-bottom: 0; 
            text-transform: capitalize;

            &:first-letter {
            	text-transform: uppercase;
            }
        }

        &.frequency {
            font-size: 200%;
            font-style: italic;
            color: @grayLight;
            font-weight: 400;
            max-width: 180px;
            text-align: right;
        }
    }
}

.keywords-filters {
    .select2-container {
        margin-bottom: 16px;
    }

    select {
        width: 220px;
    }
}

.keyword-text {
    display: block;
    width: auto;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}


.search-links {
    float: left;
    margin-left: 15px;
    margin-top: 17px;
    visibility: hidden;
}

.search-desc {
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    color: #999 !important;
    display: block;
}


.openaustralia-link, 
.partylines-link {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #999 !important;
    display: block;
}

// Large tablet
@media only screen and (max-width: 1050px) {

}

// Mid tablet
@media only screen and (max-width: 950px) {

}

// Small tablet
@media only screen and (max-width: 750px) {
    .hero-unit.keywords {
        padding-left: 20px;
        margin-bottom: 0;
    }

}

// Phones
@media only screen and (max-width: 470px) {

}

