<div class="container">
    <div class="about">
        <a href="/" class="brand">Poli<span class="divider">/</span>Talk</a>
        <p>Linking politicians to their lines, using federal Hansard transcripts.</p>
        <a class="link" href="#" data-target="#about-tool-modal" data-toggle="modal">About</a>
    </div>

    <div class="credit">
        <p>Designed and developed by <a href="http://www.theglobalmail.org" class="tgm" target="_blank">The Global Mail</a></p>

        <p>Partially based on data from <a href="http://www.openaustralia.org" target="_blank">www.openaustralia.org</a></p>
    </div>
</div>
